pragma solidity >=0.4.22 <0.7.0;
pragma experimental ABIEncoderV2;

contract {{name}} {

{{#inputStreamEventList}}
    {{inputStreamName}}Event[{{windowLength}}] public window;
{{/inputStreamEventList}}
    uint256 public index = 0;
    uint256 public lastBlockSetNumber = -1;
    uint256 public windowLength = {{windowLength}}

{{#inputStreamEventList}}
    struct {{inputStreamName}}Event {
    {{#streamAttributeList}}
        {{type}} {{name}};
    {{/streamAttributeList}}
    }
{{/inputStreamEventList}}

    struct {{outputStreamName}}Event {
    {{#streamOutputAttributeList}}
        {{type}} {{rename}};
    {{/streamOutputAttributeList}}
    }

    {{ outputStreamName}}Event[] public processed{{outputStreamName}}Events;

{{#inputStreamEventList}}
    function set({{inputStreamName}}Event memory incoming{{inputStreamName}}Event) private {
        if(lastBlockSetNumber == -1) {
            latBlockSetNumber = block.number;
        }
        if((block.number < windowLength + lastBlockSetNumber) {
            window[i] = incoming{{inputStreamName}}Event;
            index++;
        }
        else {
            index = 0;
            check();
            lastBlockSetNumber = block.number;
            window[i] = incoming{{inputStreamName}}Event;
            index++;
        }
        check();
    }

    function process({{inputStreamName}}Event memory incoming{{inputStreamName}}Event) public {
        set(incoming{{inputStreamName}}Event);
    }
{{/inputStreamEventList}}
    function check() private {
            processed{{outputStreamName}}Events.push({{outputStreamName}}Event({
            {{#outAttributes}}
                {{rename}}: {{function}}(){{#notLastItem}},{{/notLastItem}}
            {{/outAttributes}}
            }));
    }
{{#windowFunctionList}}
    {{#averageFunctions}}
    function {{functionName}}() private view returns ({{type}}) {
        {{type}} sum = 0;
        for({{type}} i = 0; i < index; i++){
            sum += window[i].{{member}};
        }
        {{type}} avg = sum / (index);
        return avg;
    }
    {{/averageFunctions}}

    {{#sumFunctions}}
        function {{functionName}}() private view returns ({{type}}) {
            {{type}} sum = 0;
            for({{type}} i = 0; i < index; i++){
                sum += window[i].{{member}};
            }
            return sum;
        }
    {{/sumFunctions}}

    {{#maxFunctions}}
        function {{functionName}}() private view returns ({{type}}) {
            {{type}} max = window[0].{{member}};
            for({{type}} i = 0; i < index; i++){
                if(window[i].{{member}} > max){
                    max = window[i].{{member}};
                }
            }
            return max;
        }
    {{/maxFunctions}}

    {{#minFunctions}}
        function {{functionName}}() private view returns ({{type}}) {
            {{type}} min = window[0].{{member}};
            for({{type}} i = 0; i < index; i++){
                if(window[i].{{member}} < min){
                    min = window[i].{{member}};
                }
            }
            return min;
        }
    {{/minFunctions}}

    {{#countFunctions}}
        function {{functionName}}() private view returns ({{type}}) {
            {{type}} count = window.length;
            return count;
        }
    {{/countFunctions}}
{{/windowFunctionList}}
}
