pragma solidity >=0.4.22 <0.7.0;
pragma experimental ABIEncoderV2;

contract {{name}} {

    {{inputStreamName}}Event[{{windowLength}}] public window;
    uint256 public index;

    {{#maxForeverFunctions}}
    {{type}} _{{functionName}};
    {{/maxForeverFunctions}}

    {{#minForeverFunctions}}
    {{type}} _{{functionName}};
    {{/minForeverFunctions}}

    struct {{inputStreamName}}Event {
    {{#attributes}}
        {{type}} {{name}};
    {{/attributes}}
    }

    struct {{outputStreamName}}Event {
    {{#outAttributes}}
        {{type}} {{rename}};
    {{/outAttributes}}
    }

    {{outputStreamName}}Event[] public processed{{outputStreamName}}Events;

    function set({{inputStreamName}}Event memory incoming{{inputStreamName}}Event) private {
        if(index == window.length) {
            index = 0;
            for (uint256 i = 0; i < window.length-1; i++) {
                window[i] = window[i + 1];
            }

            window[window.length] = incomingTempStreamEvent;
        }
        else {
            window[index] = incomingTempStreamEvent;
            index++;
        }
        {{#maxForeverFunctions}}
        set{{functionName}}(incoming{{inputStreamName}}Event);
        {{/maxForeverFunctions}}
        {{#minForeverFunctions}}
        set{{functionName}}(incoming{{inputStreamName}}Event);
        {{/minForeverFunctions}}
        check();
    }

    function process({{inputStreamName}}Event memory incoming{{inputStreamName}}Event) public {
        set(incoming{{inputStreamName}}Event);
    }

    function check() private {
        if(index == {{windowLength}}){
            processed{{outputStreamName}}Events.push({{outputStreamName}}Event({
            {{#outAttributes}}
                {{rename}}: {{function}}(){{#notLastItem}},{{/notLastItem}}
            {{/outAttributes}}
            }));
        }
    }

    {{#averageFunctions}}
    function {{functionName}}() private view returns ({{type}}) {
        {{type}} sum = 0;
        for(uint256 i = 0; i < index; i++){
            sum += window[i].{{member}};
        }
        {{type}} avg = sum / (index);
        return avg;
    }
    {{/averageFunctions}}

    {{#sumFunctions}}
    function {{functionName}}() private view returns ({{type}}) {
        {{type}} sum = 0;
        for(uint256 i = 0; i < index; i++){
            sum += window[i].{{member}};
        }
        return sum;
    }
    {{/sumFunctions}}

    {{#maxFunctions}}
    function {{functionName}}() private view returns ({{type}}) {
        {{type}} max = window[0].{{member}};
        for(uint256 i = 0; i < index; i++){
            if(window[i].{{member}} > max){
                max = window[i].{{member}};
            }
        }
        return max;
    }
    {{/maxFunctions}}

    {{#minFunctions}}
    function {{functionName}}() private view returns ({{type}}) {
        {{type}} min = window[0].{{member}};
        for(uint256 i = 0; i < index; i++){
            if(window[i].{{member}} < min){
                min = window[i].{{member}};
            }
        }
        return min;
    }
    {{/minFunctions}}

    {{#countFunctions}}
    function {{functionName}}() private view returns ({{type}}) {
        {{type}} count = window.length;
        return count;
    }
    {{/countFunctions}}

    {{#maxForeverFunctions}}
    function set{{functionName}}({{inputStreamName}}Event memory incoming{{inputStreamName}}Event) private {
        if(incoming{{inputStreamName}}Event.{{member}} > _{{functionName}}) {
            _{{functionName}} = incoming{{inputStreamName}}Event.{{member}};
        }
    }
    {{/maxForeverFunctions}}

    {{#maxForeverFunctions}}
    function {{functionName}}() private view returns ({{type}}) {
        return _{{functionName}};
    }
    {{/maxForeverFunctions}}

    {{#minForeverFunctions}}
    function set{{functionName}}({{inputStreamName}}Event memory incoming{{inputStreamName}}Event) private {
        if(incoming{{inputStreamName}}Event.{{member}} > _{{functionName}}) {
            _{{functionName}} = incoming{{inputStreamName}}Event.{{member}};
        }
    }
    {{/minForeverFunctions}}

    {{#minForeverFunctions}}
    function {{functionName}}() private view returns ({{type}}) {
        return _{{functionName}};
    }
    {{/minForeverFunctions}}
}
